/*navbar*/
.navbar {
    text-transform:uppercase;
    font-family:'PT Sans Narrow', Arial, sans-serif;
    font-weight: 500;
    background-color: White;
}

.navbar a {
    
    color: orange !important;
    opacity: 0.7;
}

.navbar a:hover {
    
    opacity: 1;
    background-color: black !important;
}


/*Contact US*/

.contact {
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 0px;
    background-color: #EFC050;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 80px;
    text-align: center;
} 

.contact p {
    
    padding-bottom: 80px;
    color: Yellow;
}

.contact h2 {
    
    color: Yellow;
    margin: 20px 0 20px;
}

.contact .input-group {
   
    margin-bottom: 25px;
}

.contact .form-control {
    
    border-radius: 0 !important;
}

.contact span {
    color: yellow;
    border-radius: 0 !important;
    background-color: #D5AE41 ;
}

.contact .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #FFD662;
    color: Orange;
}

.contact .btn:hover {
    
    background-color: #D5AE41 !important;
    color:Red !important;
}

.contact #text {
    background:purple;
}

