/*navbar*/
.navbar {
    text-transform:uppercase;
    font-family:'PT Sans Narrow', Arial, sans-serif;
    font-weight: 500;
    background-color: White;
}

.campaign-image {
  width: 12%;
  margin-bottom: 0px;
  padding-bottom:0px;
  border-radius: transparent;
}

.navbar a {
    
    color: #FF4500 !important;
    opacity: 0.7;
}

.navbar a:hover {
    
    opacity: 1;
    background-color: Black !important;
}

/* Dropdown Button */
.dropbtn {
    background-color:white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:black;}


/*Contact US*/

.contact {
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 0px;
    background-color: #EFC050;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 80px;
    text-align: center;
} 

.contact p {
    
    padding-bottom: 80px;
    color: Black;
}

.contact h5 {
    
    color: Black;
    margin: 20px 0 20px;
}

.contact .input-group {
   
    margin-bottom: 25px;
}

.contact .form-control {
    
    border-radius: 0 !important;
}

.contact span {
    color: yellow;
    border-radius: 0 !important;
    background-color: #D5AE41 ;
}

.contact .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #FFD662;
    color: Orange;
}

.contact .btn:hover {
    
    background-color: #D5AE41 !important;
    color:Red !important;
}

.contact #text {
    background:purple;
}

.footer {
    
    padding: 30px;
    color: #cccccc;
    background-color: Black;
}


.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}
