

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}




body {
  background-color: #DDDDDD;
}
.main {
  margin: auto;
  max-width: 1500px;
  margin-top: 30px;
  text-align: center;
  vertical-align:middle;
}

#donation-box {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
}

#left-column {
    width:auto;
    min-width: 300px;
    max-width: 1400px;
    display: inline-block;
  
}

@media screen and (max-width: 800px) {
  #donation-box {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    margin-left: 0px;
  }
}

#right-column {
    width: 20%;
    min-width: 150px;
    max-width: 600px;
    background-color: #ffffff;
    color: #444444;
    display: inline-block ;
    /* float: right; */
    margin-left: 20px;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
    /* height: 1350px; */
    vertical-align: top;
    font-family: Montserrat, sans-serif;
    border-radius: 7px;
    position:fixed;
    margin-top: 10px;
}

@media (max-width: 1300px) {
  #right-column {
    display: none;
  }
}

.campaign-image {
  width: 90%;
  padding: 5%;
  margin-bottom: 0px;
  padding-bottom:0px;
}

.info-button {
  Width: 200px;
  border: 2px solid #00B3bc;
  border-radius: 7px;
  height: 50px;
  color: #00B3bc;
  font-family: Montserrat;
  line-height: 1.25em;
  vertical-align: middle;
  padding: 4px;
  overflow:hidden;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  transition: 1s;
}

.info-button:hover {
  background-color: #00B3bc;
  border: 2px solid #ffffff;
  color: white;
  transition: .5s;
}

#right-column h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}

#right-column p {
  text-align: center;
  margin: 20px 30px;
  line-height: 2em;
}

@import url(//fonts.googleapis.com/css?family=Roboto Condensed);
@import url(//fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Roboto Condensed', sans-serif;
}
.footer{
    background-color: #FFA500
}
input{
    width:175px;
}
