/*navbar*/
.navbar {
    text-transform:uppercase;
    font-family:'PT Sans Narrow', Arial, sans-serif;
    font-weight: 500;
    background-color: White;
}

.campaign-image {
  width: 12%;
  margin-bottom: 0px;
  padding-bottom:0px;
  border-radius: transparent;
}

.navbar a {
    
    color: #FF4500 !important;
    opacity: 0.7;
}

.navbar a:hover {
    
    opacity: 1;
    background-color: Black !important;
}

/* Dropdown Button */
.dropbtn {
    background-color:white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:black;}

.header{
    box-sizing: border-box;
}

.slidershow-container{
    position: relative;
    margin: auto;
    background: white ;
    margin-top: 16px;
}

.header .myimages img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
     background-size: cover;
}

.header h4, p {
    text-align: center;
    margin: 80px;
}

.x {
    margin-top: 12px;
}
/*Service*/

.services {
    
    padding: 70px 0 75px;
    text-align: center;
    
}

.services h2,
.services h4 {
    
    color: Dark Orange;
    margin: 20px 0 20px;
    text-align: center;
}


.services p {
    
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}


.services img {
    
    height: 150px;
    width: 150px;
    margin: 50px;
}

.services i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color:Orange;
    color: #fff;
    position: relative;
}

.services a:hover i {
    
    background-color: #709963;
}






