* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

ul, li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*NAVIGATION*/


.navbar {
    
    background-color: white !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}

.navbar a {
    
    color: #FF4500 !important;
    opacity: 0.7;
}


.navbar a:hover {
    
    opacity: 1;
    background-color: #111111 !important;
}




/*about*/
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
  font-weight:bold;
  color: Black;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
}
.vid {
    width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFA500;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

/*SERVICES*/

.services {
    
    padding: 70px 0 75px;
    text-align: center;
    
}

.services h2,
.services h4 {
    
    color: Orange;
    margin: 20px 0 20px;
    text-align: center;
}


.services p {
    
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
    color: Black;
}


.services img {
    
    height: 165px;
    width: 180px;
    margin: 0px;
}

.services i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: Orange;
    color: #fff;
    position: relative;
}

.services a:hover i {
    
    background-color: #709963;
}



/*Donate*/


.main {
  margin: auto;
  max-width: 1500px;
  margin-top: 30px;
  text-align: center;
  vertical-align:middle;
}

#donation-box {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
}

#left-column {
    width:auto;
    min-width: 300px;
    max-width: 1400px;
    display: inline-block;
  
}

@media screen and (max-width: 800px) {
  #donation-box {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    margin-left: 0px;
  }
}



@media (max-width: 1300px) {
}


.info-button {
  Width: 200px;
  border: 2px solid #00B3bc;
  border-radius: 7px;
  height: 50px;
  color: #00B3bc;
  font-family: Montserrat;
  line-height: 1.25em;
  vertical-align: middle;
  padding: 4px;
  overflow:hidden;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  transition: 1s;
}

.info-button:hover {
  background-color: #00B3bc;
  border: 2px solid #ffffff;
  color: white;
  transition: .5s;
}

@import url(//fonts.googleapis.com/css?family=Roboto Condensed);
@import url(//fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Roboto Condensed', sans-serif;
}
input{
    width:175px;
}


/*TEAM*/

.team {
    
    padding: 50px 0 80px;
    text-align: center;
}

.team strong,
.team h2,
.team h4 {
    
    margin: 20px 0 20px;
    color: Orange;
}


.team p {
    
    color: Black;
}

.team img {
    
    height: 180px;
    width: 165px;
    margin-top: 80px;
}


.team i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: Orange;
    color: white;
}

.team a:hover i {
    
    background-color: Black;
    color: Orange;
}


/*CLIENTS*/

.clients {
    
    padding: 50px 0 80px;
    background-color: #FFA500;
    text-align: center;
    color: #fff;
}

.client h2 {
    
    color: #5e5e5e;
}

.clients p {
    
    padding-bottom: 40px;
}

.clients img {
    
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
}


.clients li:hover img {
    
    opacity: 1000;
}


/*CONTACT*/

/*Contact US*/

.contact {
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 0px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 80px;
    text-align: center;
} 

.contact p {
    
    padding-bottom: 80px;
    color: Black;
}

.contact h2 {
    
    color: Orange;
    margin: 20px 0 20px;
}

.contact .input-group {
   
    margin-bottom: 25px;
}

.contact .form-control {
    
    border-radius: 0 !important;
}

.contact span {
    color: white;
    border-radius: 0 !important;
    background-color: Orange ;
}

.contact .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: Orange;
    color: white;
}

.contact .btn:hover {
    
    background-color: black !important;
    color: Orange !important;
}

.contact #text {
    background: orange;
}


/*FOOTER*/

.footer {
    
    padding: 30px;
    color: #cccccc;
    background-color: Black;
}

.footer h4{
    color: Orange;
}

.footer p {
    color: white;

}

.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}



